<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.CSS">
    <title>Mental Well Being Quiz </title>
</head>
<body>
    <h1>Mental Health Prediction Analysis</h1>
    <p>
        Mental illness is a health problem that undoubtedly affects a person's emotions, thinking, and social interactions. These issues have shown that mental illness has serious consequences in all societies and requires new strategies for prevention and intervention. Students in particular are expected to perform at a higher level, which leads to frustration and stress, leading to mental health problems. This research aims to analyze the mental health of students and provide the necessary statistics.
Requesting all to fill this form and provide for our study!!

    </p>
    <div class="first">
        <form action="action_page.php">
            <ul class="quiz" >
                <li>
                    <h4>Age Group?</h4>
                    <ul class="choices" type="none">

            <li>
                <label
                    ><input type="radio" name="question0" value="15-17" /><span
                        >15-17</span
                    ></label
                >
            </li>
            <li>
                <label
                    ><input type="radio" name="question0" value="18-22" /><span
                        >18-22</span
                    ></label
                >
            </li>
            <li>
                <label
                    ><input type="radio" name="question0" value="23-27" /><span
                        >23-27</span
                    ></label
                >
            </li>
            <li>
                <label
                    ><input type="radio" name="question0" value=">27" /><span
                        >&gt27</span
                    ></label
                >
            </li>
        </ul>
    </li>
          
    <div class="first">
            <li>
                <h4>Gender</h4>
                    <ul class="choices" type="none">

            <li>
                <label
                    ><input type="radio" name="question1" value="Male" /><span
                        >Male</span
                    ></label
                >
            </li>
            <li>
                <label
                    ><input type="radio" name="question1" value="Female" />Female<span
                        >Female</span
                    ></label
                >
            </li>
            <li>
                <label
                    ><input type="radio" name="question1" value="Others" /><span
                        >Others</span
                    ></label
                >
            </li>
            </ul>
            
        
    </li>
         
    
<div class="first">
    <li>
        <h4>Education pursuing currently</h4>
            <ul class="choices" type="none">

    <li>
        <label
            ><input type="radio" name="question2" value="10th Grade" /><span
                >10th Grade</span
            ></label
        >
    </li>
    <li>
        <label
            ><input type="radio" name="question2" value="Intermediate/Diploma" />Female<span
                >Intermediate/Diploma</span
            ></label
        >
    </li>
    <li>
        <label
            ><input type="radio" name="question2" value="Bachelors" /><span
                >Bachelors</span
            ></label
        >
    </li>
    <li>
        <label
            ><input type="radio" name="question2" value="Masters" /><span
                >Masters</span
            ></label
        >
    </li>  
</li>
</ul>
<div class="first">
    <li>
        <h4>Physical health issues</h4>
            <ul class="choices" type="none">

    <li>
        <label
            ><input type="radio" name="question3" value="Yes" /><span
                >Yes</span
            ></label
        >
    </li>
    <li>
        <label
            ><input type="radio" name="question3" value="No" /><span
                >No</span
            ></label
        >
    </li>
    
</li>
</ul>
<div class="first">
    <li>
        <h4>Family history of mental health </h4>
            <ul class="choices" type="none">

    <li>
        <label
            ><input type="radio" name="question4" value="Yes" /><span
                >Yes</span
            ></label
        >
    </li>
    <li>
        <label
            ><input type="radio" name="question4" value="No" /><span
                > No mental health issues</span
            ></label
        >
    </li>
    
</li>
</ul>
<div class="first">
    <li>
        <h4>Have you ever gone through any mental health problems previously? </h4>
            <ul class="choices" type="none">

    <li>
        <label
            ><input type="radio" name="question5" value="Yes" /><span
                >Yes</span
            ></label
        >
    </li>
    <li>
        <label
            ><input type="radio" name="question5" value="No" /><span
                > No </span
            ></label
        >
    </li>
    
</li>
</ul>
<div class="first"></div>
<li>
    <h4>Trouble falling or staying asleep, or sleeping too much?</h4>
    <ul class="choices" type="none">

<li>
<label
    ><input type="radio" name="question6" value="Frequently" /><span
        >Frequently</span
    ></label
>
</li>
<li>
<label
    ><input type="radio" name="question6" value="More than once a week" /><span
        >More than once a week</span
    ></label
>
</li>
<li>
<label
    ><input type="radio" name="question6" value="Rarely" /><span
        >Rarely</span
    ></label
>
</li>
<li>
<label
    ><input type="radio" name="question6" value="Not at all" /><span
        >Not at all</span
    ></label
>
</li>
</ul>
</li>
<div class="first"></div>
<li>
    <h4>Feeling bad about yourself - or that you are a failure?</h4>
    <ul class="choices" type="none">

<li>
<label
    ><input type="radio" name="question7" value="Nearly everyday" /><span
        >Nearly every day</span
    ></label
>
</li>
<li>
<label
    ><input type="radio" name="question7" value="More than half the days" /><span
        >More than half the days</span
    ></label
>
</li>
<li>
<label
    ><input type="radio" name="question7" value="A few days" /><span
        >A few days</span
    ></label
>
</li>
<li>
<label
    ><input type="radio" name="question7" value="Not at all" /><span
        >Not at all</span
    ></label
>
</li>
</ul>
</li>
<div class="third"></div>
<li>
    <h4>Are you constantly feeling afraid that something awful might happen?</h4>
    <ul class="choices" type="none">

<li>
<label
    ><input type="radio" name="question8" value="Usually" /><span
        >Usually</span
    ></label
>
</li>
<li>
<label
    ><input type="radio" name="question8" value="Sometimes" /><span
        >Sometimes</span
    ></label
>
</li>
<li>
<label
    ><input type="radio" name="question8" value="Rarely" /><span
        >Rarely</span
    ></label>
</li>
<li>
<label
    ><input type="radio" name="question8" value="Not at all" /><span
        >Not at all</span
    ></label
>
</li>
</ul>
</li>
<div class="first">
    <li>
        <h4>Do you have trouble relaxing your mind? </h4>
            <ul class="choices" type="none">

    <li>
        <label
            ><input type="radio" name="question10" value="Yes" /><span
                >Yes</span
            ></label
        >
    </li>
    <li>
        <label
            ><input type="radio" name="question10" value="No" /><span
                > No </span
            ></label
        >
    </li>
    
</li>
</ul>
<div class="first"></div>
<li>
    <h4>Which of these factors affect you the most?</h4>
    <ul class="choices" type="none">

<li>
<label
    ><input type="checkbox" name="question11" value="Friends" /><span
        >Friends</span
    ></label
>
</li>
<li>
<label
    ><input type="checkbox" name="question11" value="Education" /><span
        >Education</span
    ></label
>
</li>
<li>
<label
    ><input type="checkbox" name="question11" value="Family" /><span
        >Family</span
    ></label
>
</li>
<li>
<label
    ><input type="checkbox" name="question11" value="Strangers" /><span
        >Strangers</span
    ></label
>
</li>
<li>
    <label
        ><input type="checkbox" name="question11" value="Health" /><span
            >Health</span
        ></label
    >
    </li>
    <li>
        <label
            ><input type="checkbox" name="question11" value="Relatives" /><span
                >Relatives</span
            ></label
        >
        </li>
 <li>
            <label
                ><input type="checkbox" name="question11" value="Career" /><span
                    >Career</span
                ></label
            >
</li>
<li>
    <label
        ><input type="checkbox" name="question11" value="Marriage" /><span
            >Marriage</span
        ></label
    >
</li>
<li>
    <label
        ><input type="checkbox" name="question11" value="Failure" /><span
            >Failure</span
        ></label
    >
</li>

<li>
    <label
        ><input type="checkbox" name="question0" value=">27" /><span
            >Lover</span
        ></label
    >
</li>

</ul>
</li>

</div>

            <input type="submit" value="Submit">
          </div>
        </form>
        {{Prediction}}
      
</body>
</html>